.tableDiv {
  height: 45rem;
  overflow: auto;
  color: #242424;
}

table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 10pt;
  border-collapse: separate;
  border: 3px solid #303030;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
}

tbody {
  cursor: pointer;
}

td,
th {
  border: 1px solid rgb(71, 71, 71);
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr:nth-child(odd) {
  background-color: #f1f1f1;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

tr:hover {
  background-color: rgb(167, 182, 231);
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #494e6b;
  color: white;
  font-variant-caps: small-caps;
  font-size: 13pt;
}
