.searchTitle {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 9pt;
  width: 40%;
}

.searchInput {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 9pt;
  width: 40%;
}
