.popupwindow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  color: #2d2d2d;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;
  min-height: 20rem;
  width: 103%;
  position: absolute;
  z-index: 20;
  top: 1rem;
  left: 0;
  grid-column: idLookup;
}

.pathInput {
  min-width: 75%;
}
