.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  color: #2d2d2d;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: absolute;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.local{
  position: absolute;
}

.global{
  position: fixed;
}