.left_sidebar {
  grid-area: left-sidebar;
}

.button_settings {
  grid-area: button_settings;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.control_reference {
  grid-area: control_reference;
  position: relative;
}

.right_sidebar {
  grid-area: right_sidebar;
  width: 100%;
  justify-self: end;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 600px 800px 60px;
  grid-template-rows: 900px;
  grid-template-areas: "left_sidebar button_settings control_reference right_sidebar";
}
