.leftSidebar {
  grid-area: leftSidebar;
}

.buttonSettings {
  grid-area: buttonSettings;
}

.idLookup {
  grid-area: idLookup;
  position: relative;
}

.rightSidebar {
  grid-area: rightSidebar;
  width: 100%;
  justify-self: end;
}

.wrapper {
  display: grid;
  grid-template-columns: 70px 500px 700px 60px;
  grid-template-rows: 900px;
  grid-template-areas: "leftSidebar buttonSettings idLookup rightSidebar";
  max-width: 1500px;
  max-height: 1000px;
}

.rightHalf {
  grid-column: idLookup-start / rightSidebar-end;
  grid-row: idLookup-start;
}
