.leftSidebar {
  grid-area: leftSidebar;
}

.buttonConfiguration {
  grid-area: buttonConfiguration;
}

.idLookup {
  grid-area: idLookup;
  position: relative;
}

.rightSidebar {
  grid-area: rightSidebar;
  width: 100%;
  justify-self: end;
}

.wrapper {
  display: grid;
  grid-template-columns: 3% 42% 50% 5%;
  grid-template-areas: "leftSidebar buttonConfiguration idLookup rightSidebar";
  max-width: 1500px;
  max-height: 1000px;
}

.rightHalf {
  grid-column: idLookup-start / rightSidebar-end;
  grid-row: idLookup-start;
}
